@font-face {
    font-family: 'Inter';
    src: local('Inter Regular'), url(./assets/Fonts/Inter/static/Inter-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Medium'), url(./assets/Fonts/Inter/static/Inter-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}
  
@font-face {
    font-family: 'Inter';
    src: local('Inter Bold'), url(./assets/Fonts/Inter/static/Inter-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}
  
@font-face {
    font-family: 'Inter';
    src: local('Inter Italic'), url(./assets/Fonts/Inter/static/Inter-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}
  
@font-face {
    font-family: 'Inter';
    src: local('Inter Bold Italic'), url(./assets/Fonts/Inter/static/Inter-BoldItalic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}
  